#container {
  margin: 0 auto;
  padding: 1.5rem 2rem;
  width: 80%;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

.icon {
  height: 7rem;
  width: 7rem;
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
}

.tag {
  font-weight: 700;
}

.change {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 6.5rem;
}

.switch {
  display: inline-block;
  height: 1.5rem;
  position: relative;
  width: 3rem;
}

.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

.slider::before {
  background-color: white;
  bottom: 0.03rem;
  content: "";
  height: 1.4rem;
  left: 0.03rem;
  position: absolute;
  transition: 0.4s;
  width: 1.4rem;
  -webkit-transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
  transform: translateX(1.4rem);
  -ms-transform: translateX(1.4rem);
  -webkit-transform: translateX(1.4rem);
}

.slider.round {
  border-radius: 2rem;
}

.slider.round::before {
  border-radius: 50%;
}
